article.article.article--launch
  header.launch-container
    h1.title.title--h1="WE'RE LAUNCHING SOON"
  .countdown
    .flip
      .flip__wrapper.card 
        .card__back(data-time="07" data-initial="08")
        .card__front(data-time="08" data-last="07")
      h2.flip__title="Days"
    .flip
      .flip__wrapper.card 
        .card__back(data-time="23" data-initial="24")
        .card__front(data-time="24" data-last="23")
      h2.flip__title="Hours"
    .flip
      .flip__wrapper.card 
        .card__back(data-time="55" data-initial="56")
        .card__front(data-time="56" data-last="55")
      h2.flip__title="Minutes"
    .flip
      .flip__wrapper.card 
        .card__back(data-time="41" data-initial="42")
        .card__front(data-time="42" data-last="41")
      h2.flip__title="Seconds"