.modal
  form(action="#",class="form")
    .form__field
      label(for="days",class="form__label")="DAYS" 
      input(type="number",id="days" ,name="days",class="form__input" min="0",max="99")
    .form__field 
      label(for="hours",class="form__label")="HOURS"
      input(type="number", name="hours",id="hours",class="form__input" min="0",max="99")
    .form__field 
      label(for="minutes",class="form__label")="MINUTES"
      input(type="number", name="minutes",id="minutes",class="form__input" min="0",max="99") 
    .form__field 
      label(for="seconds",class="form__label")="SECONDS"
      input(type="number", name="seconds",id="seconds",class="form__input" min="0",max="99") 
    .form__actions 
      button(type="submit",class="form__button")="START" 